<div class="col-sm-12 col-md-6 offset-md-3 text-center reset-password-div">
  <h4>Reset Password</h4>
  <div class="col-12 text-center">
    <div class="input-group margin-10-0">
      <input type="password" class="form-control" ng-model="password" placeholder="New Password">
    </div>
    <div class="input-group margin-10-0">
      <input type="password" class="form-control" ng-model="confirm_password" placeholder="Confirm Password">
    </div>
    <p ng-if="reset_error" class="error font-14">{{reset_error}}</p>
    <p ng-if="reset_success" class="success font-14">{{reset_success}}</p>
    <button class="btn btn-primary margin-10-0" ng-click="resetPassword(password, confirm_password)">Change Password</button>
  </div>
</div>
