<view-title>Results for {{searchItem}}</view-title>
<meta view-head property="keywords" content="{{couponsSearch[0].BrandName}} Coupons, {{couponsSearch[0].BrandName}} Latest deals, {{couponsSearch[0].BrandName}} best offers, Save on purchases in {{couponsSearch[0].BrandName}}, {{couponsSearch[0].BrandName}} latest Offers, Grab {{couponsSearch[0].BrandName}} deals">
<meta view-head property="description" content="Grab Best offers and deals on {{couponsSearch[0].BrandName}}. Latest and Best {{couponsSearch[0].BrandName}} offers. Get extra cashback with couponcrown for purchases on {{couponsSearch[0].BrandName}}." >

<div class="col-12">
      <div class="row">
        <div class="col-12 d-flex flex-wrap">
          <div class="row w-100">
            <div class="d-block w-100 margin-10-0 padding-10-0 text-center" ng-if="!couponsSearch[0]">
              <h3> Sorry, No Coupons for your Search</h3>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6" ng-repeat="coupon in couponsSearch">

              <display-coupons coupon="coupon" show-brand="true"></display-coupons>

            </div>
          </div>
        </div>
      </div>
</div>
