<div class="container">
  <div class="col-12 text-center">
    <h2 class="margin-10-0">About Us</h2>
    <h5 class="margin-10-0" style="line-height: 36px">“Hello, a warm welcome to Coupon Crown and thank you for choosing us in helping you for a quality, enhanced and all-in-one online shopping experience”</h5>
  </div>
  <div class="col-12">
    <p>We are a group of E-commerce intellectuals who can help to users in saving money through our wide-ranging catalog of coupons, offers, deals and discounts from top online sellers to offline.</p>
    <p>save some of the money that he spends. From mammoth listing users encouraged to make quality decisions. You are a smart shopper so get crowned with the best choices you make. We walk the talk with you on this A to Z journey.</p>

    <span class="d-block text-center">
      <h4>Why coupon crown ?</h4>
    </span>
    <ul>
      <li class="padding-5-0 margin-5-0">We understand purchaser’s world, shades and tones. Hence a gargantuan range to our customer king and get rewarded with the crown is our desire.</li>
      <li class="padding-5-0 margin-5-0">We walk the extra mile and help users in embarking on this great journey.</li>
      <li class="padding-5-0 margin-5-0">We bring in the best and the latest to serve better with various kinds of platters.</li>
    </ul>

  </div>
</div>
