<div class="container">
  <div class="col-12 text-center">
    <h2 class="margin-10-0">Policy</h2>
    <h5 class="margin-10-0" style="line-height: 36px">Couponcrown understand user’s aspiration, so we take privacy earnestly. This forms our core fundamentals. We respect them and are committed to protect it in all aspects.</h5>
  </div>
  <div class="col-12">
    <ul>
      <li class="padding-5-0 margin-5-0">At the outset, by using Couponcrown you agree to our terms and conditions. If you feel otherwise, please do not try further to use this website. We value your decision.</li>
      <li class="padding-5-0 margin-5-0">We at CouponCrown collect only the information as provided by the user and the information tracked while navigating. So if you are continuing on our website, it is your approval for us to collect, store, and use your personal information for the services that we offer (like frequent communication with you in the form of SMS, emails etc.). We commit not to sell, share, or rent your information to others.</li>
      <li class="padding-5-0 margin-5-0">We may also collect information about your computer, IP address, browser type etc. for system administration purpose. This is more to do with user analytic's to know their browsing patterns.</li>
      <li class="padding-5-0 margin-5-0">We may use cookies to keep track of user preferences and profile information. Our advertisers and third parties also place cookies onto your computer when you visit their website.</li>
      <li class="padding-5-0 margin-5-0">The password for your Couponcrown account should be kept confidential and should not be shared with anyone.</li>
      <li class="padding-5-0 margin-5-0">Please visit this space to understand any changes to our privacy policy.</li>
      <li class="padding-5-0 margin-5-0">In case of any queries, please do write to us at support@couponcrown.com</li>
    </ul>

  </div>
</div>
