<div class="container">
  <div class="col-12 text-center">
    <h2 class="margin-10-0">Terms & Conditions</h2>
    <h5 class="margin-10-0" style="line-height: 36px">This Agreement between CouponCrown (hereinafter referred to as “We”, “Us”, “their”, “Couponcrown”) and you (hereinafter referred to as “you”, “your” or “user”) describes your rights as the user of this website and our services.</h5>
    <h5 class="margin-10-0" style="line-height: 36px">Before you log in or avail our services, please read and agree to the terms and conditions under this agreement, including any future amendments or updates thereto. Any amendments or updates will be available at this space so users requested to visit this page often to understand the changes.</h5>
  </div>
  <div class="col-12">
    <ul>
      <li class="padding-5-0 margin-5-0">By clicking the “Log in/Sign Up” while logging into the site, it is understood that you agree to comply with and be legally bound by the terms and conditions of Couponcrown</li>
      <li class="padding-5-0 margin-5-0">A few websites, their services and applications governed by their terms and conditions and may have added policies that govern their availability and use. Your use and access to such site's governed by that site terms and conditions and CouponCrown will not be responsible for them.</li>
      <li class="padding-5-0 margin-5-0">Information provided by you to us, explains that all the information provided by you is current, complete and correct. You are responsible for maintaining the completeness and accuracy of the information on a timely basis with us.</li>
      <li class="padding-5-0 margin-5-0">User is solely responsible for maintaining the confidentiality and security of your information which includes your user id and password with CouponCrown. Users are only responsible for all the postings and the actions done through your log in.</li>
      <li class="padding-5-0 margin-5-0">Your account created with us is only for you and not transferable. You agree to tell us in case of any security violation.</li>
      <li class="padding-5-0 margin-5-0">CouponCrown respects their users and gives them the freedom to post content. We don’t pre-screen or review any of that content. However, we have all the rights to remove them without any notice or consent from the user. Also for the entire user posted contents</li>
      <li class="padding-5-0 margin-5-0">The user is wholly responsible for all the actions and CouponCrown doesn’t hold any responsibility. The content should fairly used and doesn’t violate or infringe any rights of others like patents, copyright, trademark etc.</li>
      <li class="padding-5-0 margin-5-0">Users are not allowed to post any adult or pornographic content, not to use any vulgar or obscene language, promote any illegal activities or pirated software, and spread malware or phishing content.</li>
      <li class="padding-5-0 margin-5-0">As a user, you agree not to display or use CouponCrown trademarks, trade names, logo, and services in any way without prior permission from us.</li>
      <li class="padding-5-0 margin-5-0">By posting or contributing content to the services provided by us, you are automatically granting CouponCrown, a non-exclusive and royalty free, permanent, and worldwide license to use your content in connection with the operation of the services and without any limitation. CouponCrown has the right to use all or part of the content in any manner that we choose, without any notice or obligation to you whatsoever.</li>
      <li class="padding-5-0 margin-5-0">CouponCrown is just a meeting place that provides an online platform between you and other online/offline third-party vendors/merchants</li>
      <li class="padding-5-0 margin-5-0">CouponCrown doesn’t endorse any third-party vendor/merchants products and their services. Also all their services provided are “as is” and “as available”. Hence CouponCrown doesn’t warranty the same.</li>
      <li class="padding-5-0 margin-5-0">Users are solely responsible for all your interactions with all the third-party vendors/merchants. Hence CouponCrown doesn’t bear any responsibility for any liability arising out of the transaction between you and the merchant. We don’t take up and owe your any claims for the same.</li>
      <li class="padding-5-0 margin-5-0">Likewise CouponCrown don’t take any responsibility or liability for any fault or mistake or damage or quality deficiency arising out of the services or content or product provided by third-party vendor/merchant. We don’t mediate or resolve any disputes or disagreements between you and the third-party vendor/merchants.</li>
      <li class="padding-5-0 margin-5-0">Equally CouponCrown is not responsible for yours or third-party vendors/merchant’s errors and omissions. This includes even for the monetary transactions that you do with them. So please use your prudence and caution before any purchase.</li>
      <li class="padding-5-0 margin-5-0">CouponCrown is not responsible for any fraudulent monetary transactions. Similarly you are responsible for any decline of payment authorization for any monetary transaction.</li>
    </ul>

  </div>
</div>
